.footer{
 
   position: relative;
    bottom: 0;
    color: black;
    text-align: center;
    padding: 40px 20px 20px 10px;
    background-color: lightgrey;
    height: 50px;
    width: 100%;
}
